<div>
  <h2>My wishlists:</h2>

  <div *ngIf="todoError?.message">
    <div class="alert alert-danger" role="alert" id="ToDoError">
      Some error occurred. Please try again
    </div>
  </div>

  <div *ngIf="(toDoListIsLoad | async)">
    <div *ngFor="let todoItem of toDoListIsLoad | async" class="ToDoList">
      <div class="row">
        <div class="col-md-2">Name:</div>
        <div class="col-md-2 todoItem">{{ todoItem.title }}</div>
        <div class="col-md-2">IsCompleted:</div>
        <div class="col-md-2 todoItem">{{ todoItem.isCompleted }}</div>
      </div>
    </div>
  </div>
</div>
